<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>
<div class="container">
  <div class="registration-box" style="border: 1px solid #ccc; padding: 20px; margin-top: 20px;">
    <h1 align="center">Join Our Community and Unlock Your New Journey Today!</h1>
    <form (ngSubmit)="customerRegister()" #registerForm="ngForm" novalidate>
      
      <!-- Name Input -->
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" id="fullName" class="form-control" placeholder="Enter Your Name" name="fullName" [(ngModel)]="fullName" #fullNameField="ngModel" required minlength="3" maxlength="20">
        </div>
        <p *ngIf="fullNameField.errors && (fullNameField.dirty || fullNameField.touched || registerForm.submitted)" class="text-danger">
          <small *ngIf="fullNameField.errors['required']">Name is required.</small>
          <small *ngIf="fullNameField.errors['minlength']">Name must be at least 3 characters long.</small>
          <small *ngIf="fullNameField.errors['maxlength']">Name cannot be more than 20 characters long.</small>
        </p>
      </div>

      <!-- Email Input -->
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" id="email" class="form-control" placeholder="Enter Your Email-Id" name="email" [(ngModel)]="email" #emailField="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
        </div>
        <p *ngIf="emailField.errors && (emailField.dirty || emailField.touched || registerForm.submitted)" class="text-danger">
            <small *ngIf="emailField.errors['required']">Email is required.</small>
            <small *ngIf="emailField.errors['email'] || emailField.errors['pattern']">Please enter a valid email address.</small>
        </p>
    </div>
    

      <!-- Password Input -->
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" id="password" class="form-control" placeholder="Enter Your Password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&^])[A-Za-z\d@$!%?&^]{8,}$">
        </div>
        <p *ngIf="passwordField.errors && (passwordField.dirty || passwordField.touched || registerForm.submitted)" class="text-danger">
          <small *ngIf="passwordField.errors['required']">Password is required.</small>
          <small *ngIf="passwordField.errors['minlength']">Password must be at least 8 characters long.</small>
          <small *ngIf="passwordField.errors['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one numeric digit, and one special character.</small>
        </p>
      </div>

      <!-- Confirm Password Input -->
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Your Password" name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" required>
        </div>
        <p *ngIf="(confirmPasswordField.touched || registerForm.submitted) && confirmPasswordField.errors" class="text-danger">
          <small *ngIf="confirmPasswordField.errors['required']">Confirming password is required.</small>
          <small *ngIf="password !== confirmPassword && confirmPasswordField.touched">Passwords do not match!</small>
        </p>
      </div>

      <!-- Phone Number Input -->
      <div class="form-group">
        <label for="phoneNumber">Mobile Number</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
          <input type="text" id="phoneNumber" class="form-control" placeholder="Enter Your Mobile Number" name="phoneNumber" [(ngModel)]="phoneNumber" #phoneNumberField="ngModel" pattern="^[6789][0-9]{9}$" required>
        </div>
        <p *ngIf="phoneNumberField.errors && (phoneNumberField.dirty || phoneNumberField.touched || registerForm.submitted)" class="text-danger">
          <small *ngIf="phoneNumberField.errors['required']">Mobile number is required.</small>
          <small *ngIf="phoneNumberField.errors['pattern']">Mobile number must start with 6, 7, 8, or 9 and be 10 digits long.</small>
        </p>
      </div>

      <!-- License Number Input -->
      <div class="form-group">
        <label for="licenseNumber">License Number</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
          <input type="text" id="licenseNumber" class="form-control" placeholder="Enter Your License Number" name="licenseNumber" [(ngModel)]="licenseNumber" #licenseNumberField="ngModel" minlength="16" maxlength="16" required>
        </div>
        <p *ngIf="licenseNumberField.errors && (licenseNumberField.dirty || licenseNumberField.touched || registerForm.submitted)" class="text-danger">
          <small *ngIf="licenseNumberField.errors['required']">License number is required.</small>
          <small *ngIf="licenseNumberField.errors['minlength'] || licenseNumberField.errors['maxlength']">License number must be exactly 16 characters long.</small>
        </p>
      </div>

      <!-- Address Input -->
      <div class="form-group">
        <label for="address">Address</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input type="text" id="address" class="form-control" placeholder="Enter Your Address" name="address" [(ngModel)]="address" #addressField="ngModel" minlength="10" maxlength="60" required>
        </div>
        <p *ngIf="addressField.errors && (addressField.dirty || addressField.touched || registerForm.submitted)" class="text-danger">
          <small *ngIf="addressField.errors['required']">Address is required.</small>
          <small *ngIf="addressField.errors['minlength']">Address must be at least 10 characters long.</small>
          <small *ngIf="addressField.errors['maxlength']">Address cannot be more than 60 characters long.</small>
        </p>
      </div>
      <!-- reCAPTCHA widget -->
 
      <div class="form-group">
        <label>Solve this to prove you're not a robot:</label>
        <div>{{ captchaQuestion }}</div>
        <input type="number" class="form-control" [(ngModel)]="userAnswer" name="captchaAnswer" required>
      </div>
      


      <!-- Submit Button -->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>

  </div>
</div>
</body>
</html>


