
body {
    background-color: #f5f6fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding-top: 20px;
}

.registration-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    /* Set a max-width for the entire form box */
    max-width: 400px; /* Adjust this value as needed */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #007bff;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group-addon {
    color: #007bff;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: 6px 8px; /* Reduced padding */
}

.form-control {
    height: 34px;
    padding: 6px 8px; /* Reduced padding */
    font-size: 14px;
    /* Optionally set a width for each input if needed */
}

.btn-primary {
    padding: 6px 12px;
    font-size: 14px;
    width: 100%; /* Make the button full width of the form */
}

.form-group {
    margin-bottom: 15px;
}

.error-message div {
    font-size: 12px;
}

.form-link {
    font-size: 14px;
}
