.why-choose-us-container {
    text-align: center;
    background-color: #f8f9fa;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.why-choose-us-title {
    color: #333;
    margin-bottom: 30px;
    font-size: 2rem; /* Larger font size for the title */
}

.why-choose-us-features {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.feature:hover {
    transform: scale(1.1); /* Slightly enlarge feature cards on hover */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Add depth with shadow */
}

.feature i {
    color: #007bff;
    font-size: 2rem; /* Larger icons */
    transition: transform 0.3s ease-in-out; /* Smooth icon transformation */
}

.feature span {
    color: #555;
    font-weight: bold; /* Make the text bolder */
}

/* Hover effect */
.feature:hover i {
    transform: rotate(360deg); /* Rotate icon on hover */
}
