<div class="container mt-4 why-choose-us-container">
    <h2 class="why-choose-us-title">Why Choose Us?</h2>
    <div class="why-choose-us-features">
        <div class="feature" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <i class="fas fa-times-circle"></i>
            <span>Free Cancellations</span>
        </div>
        <div class="feature" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <i class="fas fa-headset"></i>
            <span>24/7 Customer Support</span>
        </div>
        <div class="feature" onmouseover="hoverEffect(this)" onmouseout="normalEffect(this)">
            <i class="fas fa-car"></i>
            <span>Wide Range of Cars</span>
        </div>
    </div>
</div>
