.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
