
<h1 align="center" style="color: red; margin-top:5px;">Select your Ride</h1> <br/>

<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let car of cars">
            <div class="card mb-3" style="width:250px; height: 550px; margin: 5px;">        
                <img class="card-img-top" [src]="car.imageSrc" alt="Card image" style="height:50%; width:100%;">
                <div class="card-body">
                    <h4 class="card-title">{{car.carDescription}}</h4>
                    <p class="card-text">Colour: {{car.color}}</p>
                    <p class="card-text">{{car.companyName}}</p>
                    <p class="card-text">Per hour: ₹{{car.hourlyRate}}/-</p>
                    <p class="card-text">{{car.licensePlate}}</p>
                    <p class="card-text">{{car.mileage}}</p>
                    <p class="card-text">{{car.model}}</p>
                    <p class="card-text">{{car.noOfSeats}}</p>
                    <p class="card-text">{{car.status}}</p>
                    <p class="card-text">{{car.year}}</p>
                    <p align="right">
                        <button class="btn btn-primary">BOOK</button>
                    </p>
                </div>
            </div>  
        </div>   
    </div>
</div>
