
<mat-card class="custom-card">
    <mat-card-header>
        <mat-card-title>{{ data.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="data.imgSrc" alt="Card image">
    <mat-card-content>
        <p>{{ data.description }}</p>
    </mat-card-content>
</mat-card>

<p>card works!</p>

