/* Centering the Heading and adding space from the top content */
.container > h2 {
    text-align: center;
    margin-top: 40px; /* Adjust as needed to create more space from the top */
    margin-bottom: 20px; /* Space before the scroll container starts */
    font-size: 2.5rem; /* Bigger font size for heading */
    color: #333; /* Dark color for text */
}

/* Container for the scrollable destinations */
.destinations-scroll-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.destinations-scroll-container::-webkit-scrollbar {
    display: none;
}

/* Styles for each destination card */
.destination-card {
    flex: none; /* Prevent cards from growing or shrinking */
    margin-right: 24px; /* Space between cards */
    cursor: pointer; /* Indicates the card is clickable */
    border-radius: 8px; /* Softens the corners */
    overflow: hidden; /* Clips content to the border radius */
    transition: transform 0.3s ease; /* Smooth transitions for hover effects */
    width: 250px; /* Consistent card width */
    /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); Removed initial soft shadow */
}

/* Hover effect for cards */
.destination-card:hover {
    transform: translateY(-5px); /* Slight lift */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); Removed deeper shadow for depth */
}

/* Styling for the images within the cards */
.app-card img {
    width: 100%; /* Full width of the card */
    height: 160px; /* Fixed height for all images */
    object-fit: cover; /* Cover the frame without distortion */
    transition: transform 0.3s ease; /* Smooth transition for scale */
}

/* Hover effect for images */
.app-card img:hover {
    transform: scale(1.05); /* Slightly enlarge */
}

/* Card content styling */
.app-card .card-content {
    padding: 16px;
    text-align: center; /* Center-align the text */
}

/* Spacing around the title and description */
.app-card .title, .description {
    margin: 8px 0;
}
