<div class="container mt-4">
    <h2>Popular Destinations</h2>
    <div #scrollContainer class="destinations-scroll-container">
      <div class="destination-card" *ngFor="let destination of destinations">
        <div class="app-card">
          <img [src]="destination.imgSrc" alt="{{ destination.title }}">
          <div class="card-content">
            <h5 class="title">{{ destination.title }}</h5>
            <p class="description">{{ destination.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  