 
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>

<div class="form-box">
    <h2 align="center" class="form-header">Reset Your Password</h2>

    <form #forgotPasswordForm="ngForm" (ngSubmit)="submitForgotPassword(forgotPasswordForm)">
        <table align="center" class="form-table">
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" name="email" #email="ngModel" ngModel required email />
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="6" />
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="confirmPassword" #confirmPassword="ngModel" ngModel required minlength="6" />
                    </div>
                    <br/>
                </td>
            </tr>
            <tr>
                <td>
                    <button [disabled]="!forgotPasswordForm.valid" class="btn btn-primary">Reset Password</button>
                </td>
            </tr>
        </table>

        <br/>

        <div style="color: red;" class="error-message" align="center">
            <div *ngIf="email.errors?.['required'] && email.touched">Please provide your email address</div> 
            <div *ngIf="email.errors?.['email'] && email.touched">Please provide a valid email address</div> 
            <div *ngIf="password.errors?.['required'] && password.touched">Please provide a password</div> 
            <div *ngIf="password.errors?.['minlength'] && password.touched">Password must be at least 6 characters long</div> 
            <div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched">Please confirm your password</div> 
            <div *ngIf="confirmPassword.errors?.['minlength'] && confirmPassword.touched">Password must be at least 6 characters long</div> 
            <div *ngIf="password.value !== confirmPassword.value && confirmPassword.touched">Passwords do not match</div>
        </div>
    </form>
</div> 

 

 