.container {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 2rem!important; /* Increased space below headings for better spacing */
}

.custom-card {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content is spaced out nicely */
}

.custom-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2); /* Deeper shadow for standout effect */
}

.custom-card img {
  width: 100%;
  height: 200px; /* Fixed height for consistency */
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Longer duration for a smoother zoom effect */
}

.custom-card:hover img {
  transform: scale(1.1); /* Slightly larger zoom on hover for dramatic effect */
}

.mat-card-header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out; /* Smooth background transition */
}

.mat-card-header:hover {
  background-color: #0056b3; /* Darker shade on hover for interactive feedback */
}

.mat-card-title {
  font-size: 1.5rem; /* Larger title for emphasis */
}

.mat-card-content p {
  font-size: 1rem;
  color: #666;
  padding: 0 1rem 1rem; /* Padding for better text alignment and spacing */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.mat-card-content:hover p {
  color: #333; /* Darker text on hover for interactive feedback */
}
