

  <video autoplay muted loop playsinline style="width: 100%; height: 600px; max-width: 100%;">
    <source src="assets/car rental animated video.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

  
<div class="container mt-5">
  <h2 class="text-center mb-4">Featured Offers & Vehicles</h2>
  <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let card of cards">
          <mat-card class="custom-card">
              <mat-card-header>
                  <mat-card-title>{{ card.title }}</mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="card.imgSrc" alt="{{ card.title }}" style="width: 100%; height: auto; object-fit: cover;">
              <mat-card-content>
                  <p>{{ card.description }}</p>
              </mat-card-content>
          </mat-card>
      </div>
  </div>
</div>



<app-populardestinations></app-populardestinations>
<app-specialoffers></app-specialoffers>
<app-whychooseus></app-whychooseus>
<app-testimonials></app-testimonials>