<app-header></app-header>

<router-outlet></router-outlet>
<<<<<<< HEAD
<app-populardestinations></app-populardestinations>
<app-specialoffers></app-specialoffers>
<app-whychooseus></app-whychooseus>
<app-testimonials></app-testimonials>
<app-footer></app-footer>
=======
<app-footer></app-footer>
>>>>>>> akhil
