 
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background: linear-gradient(to right, #ffcccc, #ccccff);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.about-content {
    grid-column: 1 / span 1;
}

.about-images {
    grid-column: 2 / span 1;
}

.about-content h2, .about-content p, .about-content ul li {
    color: #333; /* Uniform text color for better contrast */
    font-size: 18px; /* Adjusted for readability */
    line-height: 1.6;
}

.about-content ul {
    list-style-type: none;
    padding: 0;
}

.about-content ul li strong {
    color: #161212;
}

.about-images img {
    width: 100%; /* Ensures images are responsive */
    margin-bottom: 20px; /* Adds spacing between images */
}

@media (max-width: 768px) {
    .about-section {
        grid-template-columns: 1fr;
    }

    /* Optionally, adjust padding for smaller screens for edge-to-edge design */
    .container {
        padding: 0;
    }
}

