<!-- <head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
    
</head>
<div class="form-box">
    <h1 align="center" class="form-header">Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" >
    <table align="center" class="form-table">
        <tr>
            <td>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="email"  #email="ngModel" ngModel required minlength="2" maxlength="30" />
            </div>
            <br/>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="2" maxlength="20"/>
                </div>
                <br/>
            </td>
        </tr>
        <tr>
            
            <td>
                <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button><a routerLink="//forgotpassword">Forgot Password?</a> <br> New User? <a routerLink="//register">SignUp</a>
                
            </td>
        </tr>
    </table>

    <br/>

    <div style="color: red;" class="error-message" align="center">

        <div *ngIf="email.errors?.['required'] && email.touched">Please provide the Email-Id</div> 
        <div *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</div> 
     
        <div *ngIf="email.errors?.['minlength'] && email.touched">Please provide atleast 2 characters for Email-Id</div> 
        <div *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 2 characters for Password</div> 
     
     </div>
</form>
</div>
 -->
 <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body {
            background-color: #f7f9fb;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .form-box {
            margin-top: 50px;
            background-color: #ffffff;
            border: 1px solid #e3e3e3;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            padding: 20px;
        }

        .form-header {
            margin-bottom: 30px;
            color: #555;
        }

        .btn-primary {
            background-color: #3498db;
            border-color: #3498db;
        }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active {
            background-color: #2980b9 !important;
            border-color: #2980b9 !important;
        }

        .input-group-addon {
            background-color: #f7f9fb !important;
            border: 1px solid #e3e3e3 !important;
            color: #555 !important;
        }

        .form-control {
            border: 1px solid #e3e3e3 !important;
        }

        .error-message {
            font-size: 0.9em;
        }

        .error-message div {
            margin: 5px 0;
        }

        a {
            color: #3498db;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 form-box">
            <h1 align="center" class="form-header">Welcome Back! Let's Explore New Horizons Together.</h1>

            <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="email" #email="ngModel" ngModel required minlength="2" maxlength="30" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="2" maxlength="20" placeholder="Password">
                    </div>
                </div>
                <div class="text-center">
                    <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </div>
                <div class="error-message text-center" align="center">
                    <div *ngIf="email.errors?.['required'] && email.touched">Please provide the Email-Id</div> 
                    <div *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</div> 
                    <div *ngIf="email.errors?.['minlength'] && email.touched">Please provide at least 2 characters for Email-Id</div> 
                    <div *ngIf="password.errors?.['minlength'] && password.touched">Please provide at least 2 characters for Password</div> 
                </div>
                <div class="text-center" style="margin-top: 15px;">
                    <a href="#" routerLink="/forgotpassword">Forgot Password?</a><br> 
                    New User? <a href="#" routerLink="/register">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
