<footer class="footer">
    <div class="container">
      <!-- Company Info -->
      <div class="footer-section">
        <h4>About Us</h4>
        <p>Your car rental service description here.</p>
        <p><strong>Contact:</strong> +1 234 567 890</p>
        <p><strong>Email:</strong> info&#64;yourcarrental.com</p>
      </div>
      
      <!-- Social Media Links -->
      <div class="footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      
      <!-- Legal and Copyright -->
      <div class="footer-section">
        <p>&copy; 2024 Your Car Rental Company. All rights reserved.</p>
      </div>
    </div>

  </footer>
  
  

