<!-- <div class="container">
    <h2>Contact Us</h2>
    <form (ngSubmit)="submitForm()" #contactForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" [(ngModel)]="formData.message" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
    </form>
    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>
</div> -->
<img src="assets/Images/Screenshot%202024-04-01%20120128.png" alt="Contact Us Image"  class="contact-us-image">

<div class="container">
    <h2>Contact Us</h2>
    
    <form (ngSubmit)="submitForm()" #contactForm="ngForm">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" [(ngModel)]="formData.message" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
    </form>
    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>
</div>
