.navbar {
    background-color: #a8a1a1; 
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .navbar-brand {
    color: #007bff !important; 
    transition: color 0.3s; 
  }
  
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #0056b3 !important; 
  }
  
  .nav-link {
    color: #5a5a5a !important; 
    transition: all 0.3s ease; 
    position: relative;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #007bff !important;
  }
  
  .nav-link:hover::after,
  .nav-link:focus::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff; 
    width: 100%;
  }
  
  .navbar-toggler {
    border-color: #dee2e6 !important; 
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007bff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .navbar-nav .nav-item:last-child .nav-link:hover,
.navbar-nav .nav-item:last-child .nav-link:focus {
    cursor: pointer; 
}
  