/* Container Styles */
.offers-scroll-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 40px; /* Added space from the top content */
}

/* Card Styles */
.offer-card {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    position: relative; /* For positioning the overlay or badge for best offers */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Hover Effects for Cards */
.offer-card:hover {
    transform: translateY(-5px); /* Slight upward movement for interaction feedback */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}

/* Card Image Styles */
.card img {
    width: 100%;
    height: 160px; /* Fixed height for consistency */
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth scaling transition */
}

/* Hover Effect for Images */
.card img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
}

/* Card Body Styles */
.card-body {
    padding: 16px;
    text-align: center;
}

/* Title and Text Styles */
.card-title, .card-text {
    margin: 8px 0;
}

/* Additional Styles for Best Offer */
.best-offer {
    border: 2px solid #FFD700; /* Highlight best offer with a golden border */
}

.best-offer::before {
    content: 'Best Offer';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFD700;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 0 0 0 8px; /* Rounded corner on the bottom-left side */
    font-size: 0.8em;
    font-weight: bold;
}

/* Centering the Heading and adding space from the top content */
.container > h2 {
    text-align: center;
    margin-top: 40px; /* Adjust as needed to create more space from the top */
}
