<div class="container mt-4">
    <h2>Special Offers</h2>
    <div class="offers-scroll-container">
        <div class="offer-card" *ngFor="let offer of offers" [class.best-offer]="offer.isBestOffer">
            <div class="card">
                <img [src]="offer.imgSrc" alt="{{ offer.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ offer.title }}</h5>
                    <p class="card-text">{{ offer.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
