.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, #56ccf2 0%, #2f80ed 100%); /* Serene blue gradient */
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    color: #ffffff; /* White text color for better visibility on a dark background */
}

h2 {
    color: #ffffff; /* Ensuring heading color is visible against the background */
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.testimonial {
    background: linear-gradient(to bottom, #ffe0b2 0%, #ffffff 100%); /* Gentle peach to white gradient */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    width: 80%;
    max-width: 700px;
}

.testimonial:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.testimonial p {
    font-size: 18px;
    font-style: italic;
    color: #555; /* Keeping the text color dark for readability */
    line-height: 1.6;
}

.testimonial h5 {
    margin-top: 20px;
    font-weight: bold;
    color: #007bff; /* Blue color for author names to complement the container background */
    font-size: 1.2rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff; /* Consistent blue background for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
