<div class="container mt-4">

    <h2>Client Reviews</h2>
    <div class="testimonials">
        <!-- Testimonial Cards -->
        <div *ngFor="let testimonial of testimonials; let i = index" class="testimonial" [style.display]="i === currentTestimonialIndex ? 'block' : 'none'">
            <p>"{{ testimonial.message }}"</p>
            <h5>- {{ testimonial.author }}</h5>

    <h2>Client Testimonials</h2>
    <div class="testimonials">
        <!-- Testimonial Cards -->
        <div *ngFor="let testimonial of testimonials; let i = index" class="testimonial" [style.display]="i === currentTestimonialIndex ? 'block' : 'none'">
            <p>"{{ testimonial.review }}"</p>
            <h5>- {{ testimonial.name }}</h5>

        </div>
        <!-- Navigation Button -->
        <button (click)="nextTestimonial()">Next</button>
    </div>
</div>
